.footer {
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__logo {
        left: 205px;
        top: 31px;   
    }
    &__name {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 40px;
    }
    &__our {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 40px;
    }
    &__pleasure {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 40px;
    }
    
    
}