.present {
    margin-top: 101px;
    height: 494px;
    padding: 80px 0 0 0;
    background: url("../../../public/assets/mask_desk.jpeg") center (center/cover) no-repeat;
    &__wrapper {
        width: 862px;
        display: flex;
        justify-content: space-between;
        margin: 45px auto;
    }
    &__wrap {
        width: 220px;
        height: 240px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.65);
        justify-content: center;
        &_img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 130px;
            padding: 22px 35px 14px 34px;
        }
        &_name {
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
        }
        &_price {
            padding-right: 20px;
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-align: right;
        }
    }
    
}